<div class="sectionwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="page-header">
                    <h1>About</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<h1 class="section-header">
    <span class="container center-block">Why did I create codestyle.co?</span>
</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <p>
                Code style and standards has been a passion of mine for a long time.
                I've helped a lot of different companies create and adopt code standards.
                During that time, while everyone has agreed that the standards need to
                be a dynamic document, no one ever goes back and adjusts them as new languages
                and technologies are introduced, new guidelines are implicitly put into place,
                or existing guidelines are dropped.
            </p>
            <p>
                Inspired by <a href="http://codeguide.co" target="_blank">Code Guide by @@mdo</a>, for HTML
                and CSS standards, I decided to create a central repository for code standards
                that is available on line. Hopefully, the guidelines contained here will
                continually be expanded to cover additional programming languages and language
                features as the languages are updated.
            </p>
        </div>
    </div>
</div>

<h1 class="section-header">
    <span class="container center-block">How do I contribute?</span>
</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <p>
                All of the standards shown are maintained in the
                <a href="https://github.com/scottdorman/codestyle.co" target="_blank">codestyle.co GitHub repository</a>.
                Each language is in it's own folder under the data folder and contains a
                <code>contents.json</code> file which serves as the table of contents. This allows me
                to easily turn guidelines on or off, control the order, and maintain reference links without
                having to edit the actual guideline content itself. The guideline content is stored as individual
                markdown files.
            </p>
            <p>
                Similarly, all of the code examples that go along with the guidelines are maintained as a
                <a href="https://gist.github.com/scottdorman/6b4564565a9a110fdb7f" target="_blank">GitHub gist</a>.
                If you want to update an example for an existing guideline, add a new example (for a
                guideline that didn't previously have one), or you need to add new examples because you're
                adding guidelines for a new language, all you need to do is fork the gist repository and
                submit a pull request.
            </p>
            <p>
                If you want to add a new programming language, add a new guideline to an existing language, or want to update
                an existing guideline all you need to do is fork the repository and submit
                a pull request. If you aren't comfortable forking repositories and submitting pull requests,
                simply <a href="https://github.com/scottdorman/codestyle.co/issues/new" target="_blank">open an issue</a>.
            </p>
        </div>
    </div>
</div>

<h1 class="section-header">
    <span class="container center-block">Where is the code for the website?</span>
</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <p>
                While the data files for the actual guidelines are open source and
                available on <a href="https://github.com/scottdorman/codestyle.co" target="_blank">GitHub</a>,
                the code for the website itself is not. This was done
                primarily to minimize the amount of "clutter" in the GitHub repository and
                keep it focused just on the data files. The website code is maintained in
                a private Visual Studio Online repository, but if there is enough interest
                in making it available through GitHub as well I can consider moving it to
                a branch of the codestyle.co repository.
            </p>
        </div>
    </div>
</div>
<h1 class="section-header">
    <span class="container center-block">Technical details</span>
</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ul class="list-boxed">
                <li>
                    The data files for the guidelines are stored in markdown format to make it easy to modify. The
                    file for the table of contents for each language is stored in JSON format.
                </li>
                <li>The website is written in ASP.NET MVC.</li>
                <li>
                    The styling for the site is <a href="http://getbootstrap.com" target="_blank">Bootstrap 3.2</a> and
                    an adapted version of the
                    <a href="http://www.blacktie.co/2014/05/instant-personal-portfolio-theme/" target="_blank">Instant theme by BlackTie.co</a>.
                </li>
                <li>
                    The icon fonts are provided by <a href="http://getbootstrap.com/components/#glyphicons" target="_blank">Bootstrap</a>,
                    <a href="http://fortawesome.github.io/Font-Awesome/" target="_blank">Font Awesome</a> and
                    <a href="https://pictonic.co/free" target="_blank">Pictonic</a>.
                </li>
                <li>
                    The GitHub embedded gists are done with
                    <a href="https://github.com/blairvanderhoof/gist-embed" target="_blank">gist-embed</a>
                    by Blair Vanderhoof.
                </li>
                <li>
                    The "go to top" feature is done with <a href="http://www.jquerygoup.tk/" target="_blank">GoUp</a>
                    by Roger Vila.
                </li>
                <li>The smooth scrolling is done using <a href="http://flesler.blogspot.com/2007/10/jqueryscrollto.html" target="_blank">jquery.scrollTo</a> and <a href="http://flesler.blogspot.com/2007/10/jquerylocalscroll-10.html" target="_blank">jquery.localScroll</a> by Ariel Flesler.</li>
            </ul>
        </div>
    </div>
</div>
