@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;

@model IEnumerable<JToken>
<div class="sectionwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <blockquote>
                    Style is an often overlooked but very critical attribute of writing. The style of writing directly impacts the readability and understandability of the end product.
                    <footer><cite>Ada 95 Quality and Style: Guidelines for Professional Programmers. SPC-94093-CMC. Herndon, Virginia. p-1.</cite></footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>

<div class="section-background-grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                Code style or standards form a consistent, yet flexible, set of "best practices"
                designed improve quality and readability while making code changes and maintenance easier.
            </div>
            <div class="col-lg-offset-2 col-lg-5">
                Every line of code should appear to be written by a single person, no matter the number of contributors.
            </div>
        </div>
    </div>
</div>

<section id="guidelines"></section>
<div class="container">
    <div class="row centered mt mb">
        <h1>Guidelines</h1>
        @if (Model != null)
        {
            foreach (var guideline in Model)
            {
                <div class="col-sm-2 gallery">
                    <a href="@Url.RouteUrl("Guidelines", new
                        {
                            id = guideline["id"]
                        })" data-toggle="tooltip" title="@guideline["title"]"><span class="@guideline["icon"]"></span></a>
                </div>
            }
        }
    </div>
</div>