{%- if include.links or include.remarks -%}
<div class="card">
  <div class="card-header">
    Additional information
  </div>
  <div class="card-body">
	{%- if include.remarks -%}
  	<fieldset>
		<legend><small>Remarks</small></legend>
		{{ include.remarks }}
  	</fieldset>
	{%- endif -%}

	{%- if include.links -%}
  	<fieldset>
		<legend><small>See also</small></legend>
		<ul class="list-inline">
		{% for link in include.links %}
			{%- if link.title -%}
				<a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }} <sup><i class="fas fa-external-link-alt"></i></sup></a>
			{%- else -%}
				<a href="{{ link.url }}"> {{ link.url }} <sup><i class="fas fa-external-link-alt"></i></sup></a>
			{%- end if -%}
		{% endfor %}
		</ul>
  	</fieldset>
	{%- endif -%}
  </div>
</div>
{%- endif -%}
