<hr/>
<footer class="container-fluid text-muted small pb-1 mt-3">
        <div class="row">
            <div class="col-md-8">
                <p>
                    If you see something wrong with the site, need to correct or update something, or want to add a
                    code style for a language that's missing, head on over to <a href="https://github.com/scottdorman/codestyle.co">GitHub</a> and submit a pull request.
                </p>
            </div>
            <div class="col-md-4">
            <ul class="list-inline social-links text-right">
                <li class="list-inline-item"><a data-toggle="tooltip" title="GitHub" href="https://github.com/scottdorman/codestyle.co"><i class="fab fa-github-square"></i></a></li>
                <li class="list-inline-item"><a data-toggle="tooltip" title="Twitter" href="http://twitter.com/sdorman"><i class="fab fa-twitter"></i></a></li>
                <li class="list-inline-item"><a data-toggle="tooltip" title="Blog" href="https://scottdorman.blog/"><i class="fa fa-rss-square"></i></a></li>
            </ul>
            </div>
        </div>
</footer>
