<div class="sectionwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="page-header">
                    <h1><span class="fa fa-warning"></span> Not found</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <p>
                If you're here it means that you were looking for guidelines for a programming
                language that we don't currently have. Feel free to fork our
                <a href="https://github.com/scottdorman/codestyle.co" target="_blank">GitHub repository</a>
                and submit a pull request to add guidelines for this language.
            </p>
            <p>
                If you think getting here was the result of an error (or you aren't comfortable with GitHub forking and pull requests), please <a href="https://github.com/scottdorman/codestyle.co/issues/new" target="_blank">open an issue</a>.
            </p>
        </div>
    </div>
</div>
