<div class="sectionwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="page-header">
                    <h1><span class="fa fa-warning"></span> Not found</h1>
                </div>
                <h4>We're unable to find any guidelines for the language you're looking for.</h4>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <p>
                If you're here it means that you were looking for guidelines for a programming
                language that we don't currently have. Feel free to fork our GitHub repository
                and submit a pull request to add guidelines for this language.
            </p>
            <p>
                If you think getting here was the result of an error, please open an issue.
            </p>
        </div>
    </div>
</div>
