<div id="footerwrap">
    <div class="container">
        <div class="row centered">
            <div class="col-xs-2">
                <ul class="footer-nav navbar-left">
                    <li><a href="@Url.Action("About", "Home")">About</a></li>
                </ul>

            </div>

            <div class="col-sm-offset-1 col-sm-4">
                <div id="social">
                    <ul class="list-inline">
                        <li><a href="http://twitter.com/sdorman"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://github.com/scottdorman"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-offset-1 col-sm-4">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- codestyle.co -->
                <ins class="adsbygoogle hidden-xs"
                     style="display:block"
                     data-ad-client="ca-pub-0090237921499851"
                     data-ad-slot="8810482697"
                     data-ad-format="horizontal"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
    </div>
</div>
