@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;

@model JObject

@{
    var language = (string)ViewBag.Language;
    var notes = (string)Model["notes"];
    var links = (Model["links"] != null ? Model["links"] : Enumerable.Empty<JToken>());
    var shouldDisplayInfoPanel = !String.IsNullOrWhiteSpace(notes) || links.Any();
}

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                @Helpers.DisplayMarkdown(Model, @language)
                @if (shouldDisplayInfoPanel)
                {
                    @Html.Partial("_InfoPanelPartial", new ViewDataDictionary {
                        { "Notes", notes },
                        { "Links", links }
                    })
                }
            </div>
        </div>
    </div>
</div>
