<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}">{% endif %}
    <link href='https://fonts.googleapis.com/css?family=Montserrat:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.url }}/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/lib/bootstrap-toolkit/bootstrap-toolkit.min.css" />
	<link rel="stylesheet" href="/assets/lib/pictonic/css/pictonic.css" />
    <link rel="stylesheet" href="/assets/css/theme.css" />
    <link rel="stylesheet" href="/assets/css/theme-color.css" />
    <link rel="stylesheet" href="/assets/css/pygment_highlights.css" />
    {% seo %}
    {% include analytics.html %}
	<meta name="google-site-verification" content="H8_xXBtP-gA95yOFP8tfi67XW74QUjMGP_Jr8diL6ak" />
	<meta name="msvalidate.01" content="767B8478A8D8CF83DF28EFE976F167E2" />
</head>
<body>
    {% include navigation.html %}
    {{ content }}
    <div id='goTop'></div>
    {% include footer.html %}
    {% include footer-scripts.html %}
</body>
</html>


